<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz-Mania: Choose a Quiz</title>
    <!-- TimeAgo CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js" integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Font Awesome Loader -->
    <script src="https://kit.fontawesome.com/7c113315e9.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <!-- Font Styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;1,100;1,300&display=swap" rel="stylesheet">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <!-- Nav Bar CSS -->
    <link rel="stylesheet" href="/styles/nav-bar.css" />
    <!-- question start page CSS -->
    <link rel="stylesheet" href="/styles/qstart_container.css" />
    
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>
  <body>
    <nav>
      <div class="logo">
        <button class="logo-button" name="home-button">
          <h2 class="logo-text">Quiz-Mania</h2>
        </button>
      </div>
      <div class="nav-options">
        <button class="nav-button login">Login</button>
        <button class="nav-button" name="create-quiz">Create a new Quiz</button>
      </div>
    </nav>
    <div class="question">
      <div class="category">
        <h1>Categories</h1>
        <div class="score">
        <Label class="score">Score</Label>
        <p class="score" id="final-count">0</p>
        <%for (let item of data) {%>
        </div>
        <section class="game-section">
        <button class="button">
          <div class="question-box">
          <h2 class="start-button"><%= item.question %></h2>
          </div>
        </button>
      <div class="answers-container">
        <button class="button">
        <button class="button button-answer">
          <div class="answer">
            <p>a: <%= item.choice_a %></p>
          </div>
        </button>
        <!-- <button type="submit" class="tweet-button">Tweet</button> -->
        <button class="button">
        <button class="button button-answer">
          <div class="answer">
            <p>b: <%= item.choice_b %></p>
          </div>
        </button>
        <button class="button">
        <button class="button button-answer">
          <div class="answer">
            <p>c: <%= item.choice_c %></p>
          </div>
        </button>
        <button class="button">
        <button class="button button-answer">
          <div class="answer">
            <p>d: <%= item.choice_d %></p>
          </div>
        </button>
      </div>
      <hr class ="divider">
        <div class="results">
          <h2>Answer: <%= item.answer %></h2>
        </div>
        <%}%>

        <a href="#" id="share-link">Share my score</a>
        <!-- <h2 class>copy link</h2> -->
      </div>
    </section>
    </div>
  </body>

</html>
